Repository Blockception/minecraft-bedrock-language-server, changes with the labels that .github/labeler.yml gives for each.
All labels: vscode, ide, packages, CI/CD, documentation, dependencies

.github/labeler.yml:

vscode:
  - changed-files:
      - any-glob-to-any-file:
          - "ide/vscode/**"
ide:
  - changed-files:
      - any-glob-to-any-file:
          - "ide/**"
packages:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/**"
CI/CD:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/docs/**"
          - "*.md"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - package-lock.json
          - go.mod
          - go.sum
          - go.work
          - go.work.sum

bug:
  - head-branch: ["^bug", "bug"]
feature:
  - head-branch: ["^feature", "feature"]

  # Add 'release' label to any PR that is opened against the `main` branch
release:
  - base-branch: "main"

upd(versioning)
  package-lock.json
Labels: dependencies

Update auto-label-pr.yaml
  .github/workflows/auto-label-pr.yaml
Labels: CI/CD

feature(create item_catalog): create item catalog file for behavior pack (#44)
  ide/base/client/src/commands/create-templates.ts
  ide/base/server/src/lsp/commands/commands/templates.ts
  ide/base/server/src/lsp/templates/definitions/behavior-pack.ts
  ide/shared/src/constants.ts
  ide/vscode/package.json
  package-lock.json
Labels: vscode, ide, dependencies

Update README.md
  README.md
Labels: documentation

Update README.md (#45)
  README.md
Labels: documentation

feat(create all pack folders/create regular used pack folders/remove all empty folders): add commands for creating and managing pack folder structures
  ide/base/client/src/commands/create-templates.ts
  ide/base/server/src/files/file-builder.ts
  ide/base/server/src/lsp/commands/commands/templates-specalized.ts
  ide/shared/src/constants.ts
  ide/vscode/package.json
Labels: vscode, ide

fix(item catalog): readd command to package.json, no need it on activationEvents too.
  ide/vscode/package.json
Labels: vscode, ide

fix(folder structure managers)
  ide/base/client/src/commands/create-templates.ts
  ide/base/server/src/lsp/commands/commands/templates-specalized.ts
  ide/shared/src/constants.ts
  ide/vscode/package.json
Labels: vscode, ide

feat: adding the start of publishing pipeline
  .editorconfig
  .gitignore
  ide/vscode/.vscodeignore
  ide/vscode/blockceptionvscodeminecraftbedrockdevelopmentextension-8.0.47.vsix
  ide/vscode/makefile
  ide/vscode/minecraft-bedrock-schemas
  ide/vscode/package.json
  makefile
Labels: vscode, ide

upd(clean command): remove confirmation styling(constants)
  ide/base/client/src/commands/create-templates.ts
  ide/shared/src/constants.ts
Labels: ide

fix(file-builder): update send method to return void instead of ApplyWorkspaceEditResult
  ide/base/server/src/files/file-builder.ts
Labels: ide

feat(): new pack structure manager commands (#46)
  ide/base/client/src/commands/create-templates.ts
  ide/base/server/src/files/file-builder.ts
  ide/base/server/src/lsp/commands/commands/templates-specalized.ts
  ide/shared/src/constants.ts
  ide/vscode/package.json
Labels: vscode, ide
